{% extends "base.html" %} {% block content %}
<form action="">
  <div class="mb-3">
    <label class="form-label">Search for Movie:</label>
    <input type="text" name="search_movie" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>

<div class="row row-cols-1 row-cols-md-4 g-5 mt-4">
  {% for movie in movies %}
  <div class="col">
    <div class="card">
      <img class="card-img-top" src="{{ movie.image.url }}" width="150" height="350"/>
      <div class="card-body">
        <h5 class="card-title fw-bold">{{ movie.title }}</h5>
        <p class="card-text">{{ movie.description }}</p>
        {% if movie.url %}
        <a href="{{ movie.url }}" class="btn btn-primary"> Movie Link </a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<br />
<br />
<h2>Join our mailing list:</h2>
<form action="{% url 'signup' %}">
  <div class="mb-3">
    <label for="email" class="form-label"> Enter your email: </label>
    <input type="email" class="form-control" name="email" />
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
{% endblock content %}
